## Basics

In [1]:
print("Hello world")

Hello world

In [2]:
string_var = "Hi"
int_var = 123
float_var = 1.23
print(type(string_var))
print(type(int_var))
print(type(float_var))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
num_str = "123"
num_int = int(num_str) # casting
print(type(num_int))

<class 'int'>

In [4]:
# slicing
text = "This is a text."
print(text[0])
print(text[-1])
print(text[0:5])
print(text[-5:-1])
print(text[:5])
print(text[-5:])
print(text[0:-1:2]) # with skip step

T
.
This
text
This
text.
Ti satx

In [5]:
print("is" in text)

True

In [6]:
print(text.upper())
print(text.lower())
print(text.strip())
print(text.lstrip())
print(text.rstrip())
print(text.count('is'))

THIS IS A TEXT.
this is a text.
This is a text.
This is a text.
This is a text.
2

In [7]:
#formatting

A = "Data"
B = "Analysis"
C = "Selva"

print(A, B, "by", C)
print("{0} {1} by {2}".format(A,B,C))

Data Analysis by Selva
Data Analysis by Selva